.content-layout {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: #f4f4f4;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-title {
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
}


.profile-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0px;
}

.profile-button:focus {
    outline: none;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}

.dropdown-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 45px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 120px;
}

.dropdown-menu button {
    background: none;
    border: none;
    text-align: left;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}

.username-field {
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer;
}